<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container py-5">
        <div class="text-center mb-5">
            <img src="https://media.licdn.com/dms/image/C560BAQEGrEoxMMeegg/company-logo_200_200/0/1658643251955/mas_kreeda_logo?e=2147483647&v=beta&t=jFK3Cna39232J70UTsvCHhYjU-H_MZYU3Ee9KfecfqU" alt="Logo" style="max-width: 200px;">
            <h1 class="display-4">Welcome To Mas Kreeda Material Management System</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="lead">Revolutionizing Material Management with Innovation</p>
                <p>Our Material Management System provides an intuitive and efficient solution for managing your materials, streamlining processes, and optimizing operations.</p>
                <a class="btn btn-primary" href="@Url.Action("Add", "Material")">Get Started</a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
